<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a href="/" class="navbar-brand ms-3"><img src="/logo1.png" alt="logo" height="50px" ></a>

    <ul class="navbar-nav">
      <li class="nav-item">
         <a href="#" class="navbar-linktext ms-2 nav-link d-inline">Email:curiousmind@email.com</a>
      </li>
      <li class="nav-item ms-2 me-2 spacing">||</li>
      <li class="nav-item">
         <a href="#" class="navbar-linktext  nav-link d-inline"><img src="/call-logo.png" alt="call-logo" height="20px" class="imglogo">Contact:+916545481456</a>
      </li>
      <!-- <li class="nav-item">
         <a href="#" class="navbar-linktext nav-link d-inline">Contact:+916545481456</a>
      </li> -->
    </ul>

    <ul class="navbar-nav navbar-item-right">
      <li class="nav-item">
         <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
         <a href="/categories" class="nav-link">Categories</a>
      </li>
         <li class="nav-item">
            <a href="/about" class="nav-link">About</a>
         </li>
         <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
         </li>
    </ul>
    
</nav>