<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>welcome</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis a corrupti doloremque animi corporis non qui nam fugiat. Ipsa aut rem porro, ducimus provident quam voluptatum doloribus eum consequuntur praesentium?</p>
    <h1>Title</h1>
   
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus distinctio laudantium, eum explicabo, numquam eos culpa expedita voluptatem ab maxime consequuntur saepe, repudiandae reiciendis fuga nam repellat in laborum? Maiores.</p>
   
</body>
</html>