<%- include("components/Header.ejs")%>
<%- include("components/Navbar.ejs")%>
    <h1>welcome</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis a corrupti doloremque animi corporis non qui nam fugiat. Ipsa aut rem porro, ducimus provident quam voluptatum doloribus eum consequuntur praesentium?</p>
    <h1>Title</h1>
   <img src="download.jpg" alt="img">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus distinctio laudantium, eum explicabo, numquam eos culpa expedita voluptatem ab maxime consequuntur saepe, repudiandae reiciendis fuga nam repellat in laborum? Maiores.</p>
   
<%- include("components/Footer.ejs")%>